.card {
  &__title {
    text-transform: capitalize;
  }
  &-property {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 2px;
    column-gap: 10px;
    &__name {
      font-weight: 700;
    }
  }
  &__img {
    width: 150px;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
}
