@use '../../styles/placeholders.scss';

.header {
  min-height: 64px;
  background: #001529;
  padding: 10px 0;
  min-width: 350px;
  &__wrapper {
    @extend %wrapper;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
}
